[submodule "user-service"]
	path = user-service
	url = git@github.com:david-andreasson/ecom-user-service.git
[submodule "product-service"]
	path = product-service
	url = git@github.com:david-andreasson/ecom-product-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:david-andreasson/ecom-order-service.git
[submodule "frontend_v2"]
	path = frontend_v2
	url = https://github.com/david-andreasson/ecom-frontend-v2.git
	branch = main
